In [138]:
import os
import pandas as pd
import numpy as np
path = r'/Users/xiaochangmiao/Documents/Course/Kaggle/HousingSale/Results'
os.chdir(path)

In [139]:
csv_file = [f for f in os.listdir(path) if f.endswith('csv') ]

In [140]:
csv_file

['elasticNet.csv',
 'kn_linear.csv',
 'kr_plyn_model.csv',
 'kr_rbf.csv',
 'lasso_3.csv',
 'lasso_new_feature.csv',
 'lasso_rs.csv',
 'lasso_sol.csv',
 'xgBoostRidgeSubmission.csv']

In [141]:
n = len(csv_file)

In [142]:
result = pd.DataFrame()
for fp in csv_file:
    df = pd.read_csv(fp)
    result = pd.concat([result, df], axis = 1)

In [143]:
csv_file = [f for f in os.listdir(path +'/With Outliner Linear Regression') if f.endswith('csv')]

for fp in csv_file:
    df = pd.read_csv(path + '/With Outliner Linear Regression/' + fp)
    result = pd.concat([result, df], axis = 1)

In [144]:
# result = result.drop('Id', axis = 1).mean(1).values
# result
result.head()

,Id,SalePrice,Id,SalePrice,Id,SalePrice,Id,SalePrice,Id,SalePrice,...,Id,SalePrice,Id,SalePrice,Id,SalePrice,Id,SalePrice,Id,SalePrice
0,1461,117849.824305,1461,117038.108755,1461,122037.235028,1461,122548.648650,1461,119976.103147,...,1461,120836.592325,1461,119554.664979,1461,119705.248838,1461,118530.514057,1461,126049.254409
1,1462,151596.789525,1462,156388.514426,1462,160365.805128,1462,159895.352889,1462,151235.414151,...,1462,158001.832887,1462,149681.509750,1462,151636.007327,1462,151627.572297,1462,153592.064825
2,1463,179917.397720,1463,184584.870408,1463,184869.057229,1463,184807.297151,1463,179700.902265,...,1463,185228.321297,1463,176346.991484,1463,181268.440376,1463,181052.184322,1463,177878.303814
3,1464,197424.752631,1464,206376.650345,1464,201055.766963,1464,200829.143686,1464,197232.228758,...,1464,202663.525462,1464,193202.569203,1464,197830.052519,1464,197547.126588,1464,184749.356456
4,1465,199040.860391,1465,203155.904238,1465,203497.153263,1465,206151.564966,1465,199392.638320,...,1465,208012.671281,1465,200707.507411,1465,202530.610807,1465,201987.687559,1465,194699.413824

In [145]:
submit = pd.read_csv('/Users/xiaochangmiao/Documents/Course/Kaggle/HousingSale/sample_submission.csv')

In [146]:
submit.loc[:, 'SalePrice'] = result

In [147]:
submit.head()

     Id      SalePrice
0  1461  117849.824305
1  1462  151596.789525
2  1463  179917.397720
3  1464  197424.752631
4  1465  199040.860391

In [148]:
submit.to_csv('Ensemble.csv', index=False)